body {
    background-color:lightgray;
    color:blue;
}

img {
    width: 25%;
    float: right;
}
#linkstwo a{
    background-color: darkgray;
    color:cyan;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    border: 2px black solid;
    margin-bottom: 100px;
}
