body {
    background-color:lightgray;
    color:blue;
}
#linksfour a{
    background-color: darkgray;
    color:cyan;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    border: 2px black solid;
}
#linksfour{
    margin-bottom: 25px;
}
