body {
    background-color:lightgray;
    color:blue;
}
iframe {
    width: 500px; height: 500px;
}
#linksthree a{
    background-color: darkgray;
    color:cyan;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    border: 2px black solid;
}